<!DOCTYPE html>
<html>

<head>
    <title>Todo List</title>
    <script type="text/javascript" src="lib/jQuery.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="/javascript/todo.js"></script>
</head>

<body>
    <div class="mt-5 container">
        <h1>Instasolv todolist</h1>
    </div>
    <div class="container maindiv">
        <h3 class="header">The Ultimate TODO LIST</h3>
        <br><br>
        <form action="/" method="POST">
            <input type="text" name="itemm" class="form-control inputoftodo" placeholder="Enter here!!!">
            <button type="submit" class="submitt btn btn-info enterbutton">Enter </button>
        </form>

        <ul id="todolist">
            <% allitems.forEach(function(item){ 
                if(item._id.equals( requiredid )){ %>
            <li style="display:inline;">
                <form action="/<%= item._id %>?_method=PUT" method="POST">
                    <input type="text" name="editeditem" value="<%=item.item %>">
                    <button style="display:inline;" type="submit" class="actualedit btn btn-info btn-sm">Submit</button>
                </form>
            </li>

            <% }else{ %>

            <li>
                <%= item.item %>
            </li>
            <% } %>

            <% }) %>
        </ul>
    </div>



    <script type="text/javascript" src="todo.js"></script>
</body>

</html>